body{
    margin: 0;
    padding: 0;
    background-image: url(../img/background-peng.png);
    background-position: 0% 18%;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    color:#000;
}

/* 헤더영역 */
.header-section{
    width:100%;
    height:70px;
    background-color: rgba(47, 138, 231, 1);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 15px black;
}
.header-logo{
    width:70px;
    height:70px;
}
.inner{
    margin:0 auto;
    width:500px;
}
.nav-section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:#fff;
}
.nav-section a{
    color:#fff;
}

/* 컨텐츠영역 */
.con1-section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
}
.con11-section{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: relative;
}
.mix-img{
    width:97%;
    margin:40px auto;
}
.mix-title{    
    position: absolute;
    left: 14%;
    top: 22%;
    color: #fff;
    background-color: rgba(47,138,231, 0.9);
    width: 68.5%;
    height: 128px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    font-weight: 700;
    border-radius: 10px;
    letter-spacing: 2px;
}
.input-container{
    position: absolute;
    display: flex;
    top: 50%;
    left: 11%;
    width:90%;
}
.intro-container1 span{
    font-size:25px !important;
}
.info-container{
    position: absolute;
    top: 72.8%;
    width: 303px;
    left: 16%;
    display: flex;
    justify-content: center;
    background-color: rgba(47,138,231, 1);
    color: #fff;
    padding: 10px 10px;
}
.lvl-input {
    font-size: 17px;
    margin: 5px 10px;
    padding: 9px;
    border-radius: 10px;
    width:80%;
}
.main-core{
    width: 37%;
    margin-right: 3%;
    background-color: rgba(47,138,231, 0.3);
    color:#fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    padding-bottom:30px;
}
.sub-core{
    color:#fff;
    width: 37%;
    margin-right: 3%;
    background-color: rgba(47,138,231, 0.3);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    padding-bottom:30px;
}
.core-img1,.core-img2{
    width:50px;
    height:50px;
}
.submit-btn {
    position: absolute;
    width: 148px;
    height: 45px;
    bottom: -128%;
    left: 40%;
    border-radius: 10px;
    cursor: pointer;
}
.success-img{
    position:absolute;
    top: 57%;
    left: 44%;
    width:50px;
    height:50px;
}
.success-lvl {
    position: absolute;
    top: 68%;
    left: 8.5%;
    background-color: rgba(47,138,231, 0.3);
    width: 66%;
    height: 37px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.7;
    color:#fff;
    letter-spacing: 2px;
}
.con2-title{
    font-size:40px;
    font-weight:700;
    letter-spacing: -3px;
    margin:0 30px;
}
.mix-iframe{
    margin-top:30px;
    height:100vh;
    width:100%;
}
#success-lvl {
    width: 200px;
    height: 35px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.re-start {
    width: 150px;
    height: 42px;
    position: absolute;
    bottom: 11%;
    right: 26%;
    cursor: pointer;
}

@media (max-width:449px){
    .header-section{
        min-width:500px;
    }
    .mix-iframe{
        min-width:500px;
    }
}
@media (max-width:430px){
    .header-section{
        min-width:320px;
        height:50px;
    }
    .inner{
        width:320px;
    }
    .header-logo{
        width:50px;
        height:50px;
    }
    .mix-title{
        left:15%;
        top:22%;
        font-size:22px;
        height:100px;
    }
    .input-container{
        left:5%;
        width:89%;
        top:43%;
    }
    .main-core, .sub-core{
        width:40%;
    }
    .intro-container1 span{
        font-size:15px !important;
        font-weight: 700;
    }
    .intro-container2 span{
        font-size:15px !important;
        font-weight: 700;
    }
    .info-container{
        top:68.8%;
        left:5%;
        width:80%;
    }
    .info-container span{
        font-size:12px;
    }
    .submit-btn{
        bottom:-80%;
    }


    .mix-iframe{
        min-width:320px;
    }
}