@font-face{
  font-family: 'nanum';
  src:url(../font/NanumBarunGothic.ttf);
}
@font-face{
  font-family: 'nanumBold';
  src:url(../font/NanumBarunGothicBold.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-image: url(../img/background-peng.png);
    background-position: 0% 18%;
    background-repeat: no-repeat;
    font-family: 'nanum';
}
a{
    text-decoration: none;
    color:#000;
}

/* 헤더영역 */
.header-section{
    width:100%;
    height:70px;
    background-color: rgba(47, 138, 231, 1);
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 0 15px black;
}
.header-logo{
    width:160px;
    height:70px;
}
.inner{
    margin:0 auto;
    width:500px;
}
.nav-section{
    display:flex;
    justify-content: space-around;
    align-items: center;
    color:#fff;
}
.nav-section a{
    color:#fff;
}

/* 컨텐츠 영역 */
.title1{
    font-size:2.5em;
    font-weight: 700;
    letter-spacing: -1px;
    display:block;
}
.info-message{
    display:block;
    color:#f1616d;
}
.sub-title1{
    margin:30px 20px 0 30px;
    font-size:1.5em;
    font-weight:700;
    display:inline-block;
}
.con-inner{
    width:80%;
    margin:20px auto;
}
.link-box1{
    display:flex;
    flex-wrap:wrap;
    height:inherit;
    background-color:aliceblue;
    padding:40px 10px;
}


















/* 효과 모음 */
figure.snip1200 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 310px;
    min-height:300px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    margin:10px auto;
  }
  .snip1200 img{
    height:100%;
  }
  figure.snip1200 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
    
  }
  figure.snip1200 img {
    max-width: 100%;
    position: relative;
    opacity: 0.9;
  }
  figure.snip1200 figcaption {
    position: absolute;
    top: 45%;
    left: 7%;
    right: 7%;
    bottom: 45%;
    border: 1px solid white;
    border-width: 1px 1px 0;
  }
  figure.snip1200 .heading {
    overflow: hidden;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  figure.snip1200 h2 {
    display: table;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    width: auto;
    text-transform: uppercase;
    font-weight: 400;
  }
  figure.snip1200 h2 span {
    font-weight: 800;
  }
  figure.snip1200 h2:before,
  figure.snip1200 h2:after {
    position: absolute;
    display: block;
    width: 1000%;
    height: 1px;
    content: '';
    background: white;
    top: 50%;
  }
  figure.snip1200 h2:before {
    left: -1000%;
  }
  figure.snip1200 h2:after {
    right: -1000%;
  }
  figure.snip1200 p {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
    padding: 0 20px;
    margin: 0;
    opacity: 0;
    line-height: 1.6em;
    font-size: 0.9em;
  }
  figure.snip1200 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  figure.snip1200:hover img,
  figure.snip1200.hover img {
    opacity: 0.25;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  figure.snip1200:hover figcaption,
  figure.snip1200.hover figcaption {
    top: 7%;
    bottom: 7%;
  }
  figure.snip1200:hover p,
  figure.snip1200.hover p {
    opacity: 1;
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }

  @media (max-width:1200px){
    figure.snip1200 img {
      opacity: 0.25;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    figure.snip1200 figcaption {
      top: 7%;
      bottom: 7%;
    }
    figure.snip1200 p {
      opacity: 1;
      -webkit-transition-delay: 0.35s;
      transition-delay: 0.35s;
    }
  }

  @media (max-width:500px){
    .header-section{
        min-width:500px;
    }
    .content-section{
      min-width:500px;
    }
  
    figure.snip1200 img {
      opacity: 0.25;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    figure.snip1200 figcaption {
      top: 7%;
      bottom: 7%;
    }
    figure.snip1200 p {
      opacity: 1;
      -webkit-transition-delay: 0.35s;
      transition-delay: 0.35s;
    }
  }

  @media (max-width:430px){
    .header-logo{
      width:105px;
      height:50px;
  }
    .header-section{
      min-width:320px;
      height:50px;
  }
    .content-section{
      min-width:320px;
    }
    .inner{
      width:320px;
    }
    figure.snip1200 {
      min-height:250px;
    }
  }